@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

* {
  font-family: "Kosugi Maru", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #00a563;
}

/*hide scroll bar*/
.hideScrollBar {
  height: 150px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */
}
.hideScrollBar::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}
